@media(max-width:550px) and (min-width:325px) {


    /* ----------------------- NAVIGATION SECTION ---------------------- */

    #logo {
        font-size: 20px;
    }

/* ----------- CONTAINER SECTION ----------- */

.container h1 {
    font-size: 25px;
}

.container h2 {
    font-size: 20px;
}

/* ----------- c-que SECTION ----------- */

.c-question {
    padding: 15px 0px;
    width: 100%;
    height: 65vh;
}

.c-question h1 {
    padding-bottom: 3%;
    padding-top: 5%;
    font-size: 20px;
}

.c-que {
    width: 85%;
}

.row {
    width: 100%;
    padding: 12px 0px;
}

.row input, .row label {
    cursor: pointer;
    font-size: 15px;
}

/* ----------- c-que-num SECTION ----------- */








/* ----------- ARROW SECTION ----------- */

.arrow-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 70%;
}

.pre-btn, .next-btn {
    width: 12%;
}


}